# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment and local secrets
.env
.env.*

# Tooling and editor files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

#outputs 
outputs/